# Environment Variables untuk Stream Ops

# Lixstream API Configuration
LIXSTREAM_API_KEY=jdtcX1dYFXh7bc4V/8vaWFzE+K9hSE7CS8XI80/FPR0=
LIXSTREAM_API_URL=https://api.luxsioab.com/pub/api

# JWT Secret (Change this in production!)
JWT_SECRET=your-secret-key-change-in-production

# Telegram Bot Configuration (for auto posting)
TELEGRAM_BOT_TOKEN=8008777132:AAH916MZ_LOus60spccpJi6KGaII0JPxw_c
TELEGRAM_CHANNEL_ID=-1002757075862
TELEGRAM_CHANELL_LINK=t.me/awikwokproj